.text-larger {
  font-family: 
  "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: larger;
}
.text-medium {
  font-family: 
  "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: medium
}
.text-medium-left {
  font-family: 
  "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: medium;
  text-align: left;
}
.text-header-left {
  font-family: 
  "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: larger;
  text-align: left;
  font-weight: bolder;
}
.auto-wrap {
  width: auto; /* 定义容器宽度 */
  word-wrap: break-word; /* 允许在长单词内部换行 */
  word-break: break-all; /* 允许在任意位置换行 */
  text-align: left;
}
.full-page {
  width: 100vw;        /* 宽度为视窗宽度 */
  height: 100vh;       /* 高度为视窗高度 */
  margin: 0;           /* 移除默认边距 */
  padding: 0;          /* 移除默认填充 */
  box-sizing: border-box; /* 防止宽度和高度包含边框和内边距 */
  overflow: auto;      /* 内容过多时可滚动 */
}